.ipynb_checkpoints/
.snakemake/
bin/
config/gatkcondaenv.yml
data/exomes/
data/genomes/
data/sra/
sandbox/
logs/*
code/*~
results/
scatch/
code/VCF2Dis
code/pySankey
scratch/
envs/sch_man_nwinvasion-jupyter/
envs/sch_man_nwinvasion-ld/
envs/sch_man_nwinvasion-outflank/
envs/sch_man_nwinvasion-pithetafst/
envs/sch_man_nwinvasion-selection/
envs/sch_man_nwinvasion-gatk/                                                                                                                                                                                                                
envs/sch_man_nwinvasion-mito_diveristy/
